.menu{
  background-color: #05526A;
}
aside {
    float: left;
    background-color: #f7f7f7;
    width: 180px;
    height: 740px;
    border: 1px solid #ccc;
}
.body{
  padding:0;
}
aside li{
  padding: 10px;
}
